@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: 'Helvetica', sans-serif;
}

span {
    font-family: 'Anton', sans-serif;
    
    letter-spacing: 5px;
    background-color: #B5B2B2;
    padding: 0  0.4rem;
    font-style: italic;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}